.wrapper {
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: #fff;
  min-height: 100vh;
}

.main {
  flex: 1;
  background: #f4f6f9;
}

.content {
  overflow-y: auto;
}
